.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-backdrop {
  transition-property: opacity, visibility;
  @include anim;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;

  height: 609px;
  width: 450px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: #fff;

  @media screen and (min-width: 320px) {
    padding: 15px;
    width: 95%;
    height: 600px;
  }
  @media screen and (min-width: 1200px) {
    height: 581px;
    width: 528px;
  }
}

.modal-close-btn {
  opacity: 1;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  justify-items: center;

  padding: 6px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background: none;
}

.modal-close-btn__icon {
  fill: #000;
  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: #2196f3;
    transition-property: fill;
    @include anim;
  }
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  @media screen and (min-width: 320px) {
    margin-top: 25px;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal-form-input-group:not(:first-child) {
  margin-top: 10px;
}

.modal-form-input-group__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--after-title-color);
}

.modal-form-input-group__wrap {
  position: relative;

  margin-top: 4px;

  height: 40px;
  @media screen and (min-width: 320px) {
    height: 30px;
  }
}

.modal-form-input-group__input {
  padding-left: 42px;

  width: 100%;
  height: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  background-color: transparent;
  cursor: pointer;

  outline: transparent;

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form-input-group__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--main-title-color);

  .modal-form-input-group__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-input-group__comment {
  margin-top: 4px;
  padding: 12px 16px;

  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  outline: transparent;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    @media screen and (min-width: 320px) {
      font-size: 12px;
    }
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form-checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;

  color: var(--after-title-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  &::before {
    content: '';

    margin-right: 7px;

    width: 16px;
    height: 15px;

    background-image: url(../images/modal-check-off.svg);
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 2px;
  }
  .modal-form-checkbox__input:checked + &::before {
    background-image: url(../images/modal-check-on.svg);
  }
}

.modal-form-checkbox__link {
  color: var(--accent-color);
  text-decoration: underline 1px;
}
