.benefits {
  padding-bottom: 47px;
}

.benefits__card-set {
  @media screen and (min-width: 480px) {
    --item: 1;
    --indent: 30px;
  }
  @media screen and (min-width: 768px) {
    --item: 2;
    --indent: 30px;
  }
  @media screen and (min-width: 1200px) {
    --item: 4;
    --indent: 30px;
  }
}
.benefits__bloc-icon {
  @include flex-center;

  margin-bottom: 30px;

  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--after-title-color);
}
