:root {
  --logo-constant-color: #2196f3;
  --logo-header-variable-color: #000;
  --logo-footer-variable-color: #fff;
  --main-title-color: #212121;
  --second-title-color: #fff;
  --after-title-color: #757575;
  --accent-color: #2196f3;
  --background-item-color: #f5f4fa;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* card-set */
  --item: 1;
  --indent: 30px;
}
